body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.IH {
    color: rgb(255, 173, 21);
}

section {
    display: flex;
}

.ib {
    width: 50%;
    padding-left: 70px;
}

.ib img {
    width: 80%;
}

.link-fb {
    text-decoration: none;
    background-color: rgb(5, 228, 180);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: 700;

}